<h1>Summary</h1>
<div class='border px-4 py-2 rounded'>
  <%= turbo_frame_tag :line_items do %>
    <%= render 'table', cart: @cart %>
  <% end %>
</div>
<div class='my-5 text-end'>
  <%= link_to 'Pay', '#', class: 'btn btn-primary fw-bold py-2 px-5' %>
</div>
