.form-control.is-valid {
  border-color: lightgray;
}

.light-border {
  border: 1px solid lightgrey
}

.light-border-top-bottom {
   border-top: 1px solid lightgrey;
   border-bottom: 1px solid lightgrey;
   border-color: lightgray;
}
