<h1>Products</h1>
<div class='row g-5 product-grid'>
  <% @products.each do |product| %>
    <%= render 'product', product: product, line_item: @line_item %>
  <% end %>
</div>
<div class='my-5 text-end'>
  <%= link_to 'Checkout', cart_path, class: 'btn btn-primary fw-bold py-2 px-5' %>
</div>
